@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');


.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 90%;
  max-width: 500px;
  margin: 0 auto;
  padding: 20px;
  font-family: 'Montserrat', sans-serif;
}

.h1 {
  margin-bottom: 20px;
  font-size: 2rem;
  color: brown;
  font-family: 'Montserrat', sans-serif;
}

.currencyConverter {
  background: linear-gradient(180deg, brown, #fcafa7);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  width: 100%;
  max-width: 400px;
  color: white;
}

.inputGroup {
  margin-bottom: 15px;
}

.select, .inputNumber {
  padding: 10px;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin: 10px 0;
  width: 100%;
  box-sizing: border-box;
}

.select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-color: #F9F9F9;
}

.button {
  background-color: rgb(255, 255, 255);
  color: brown;
  font-size: 1rem;
  padding: 10px 20px;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-top: 10px;
  width: 100%;
}

.button:hover {
  color: rgb(255, 255, 255);
  background-color: brown;
}

.button:active {
  background-color: rgb(252, 252, 252);
}

.result {
  margin-top: 20px;
  font-size: 1.125rem;
}

.resultP {
  font-weight: bold;
  color: #ffffff;
  font-size: 1.25rem;
  position: relative;
  top: 10px;
  text-decoration: solid;
}

@media (max-width: 768px) {
  .h1 {
    font-size: 1.5rem;
  }

  .currencyConverter {
    padding: 15px;
    max-width: 90%;
  }

  .select, .inputNumber, .button {
    font-size: 0.9rem;
  }
}

@media (max-width: 480px) {
  .h1 {
    font-size: 1.25rem;
  }

  .currencyConverter {
    padding: 10px;
    max-width: 100%;
  }

  .select, .inputNumber, .button {
    font-size: 0.8rem;
  }

  .result {
    font-size: 1rem;
  }

  .resultP {
    font-size: 1.125rem;
  }
}

