@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');



.helpCenter {
    display: flex;
    flex-direction: column;
    max-width: 1000px;
    margin: 20px auto;
    padding: 20px;
    background-color: rgba(165, 42, 42, 0.349);
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    position: relative;
}

.title {
    text-align: center;
    color: black;
    margin-bottom: 20px;
    font-family: 'Montserrat', sans-serif;
}

.searchSection input {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    margin-bottom: 20px;
    border: 1px solid black;
    border-radius: 5px;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}


.sections-container {
    display: flex;
    gap: 20px;
    width: 100%;
    font-family: 'Montserrat', sans-serif;
}

.faqSection {
    flex: 1;
    margin-bottom: 40px;
    font-family: 'Montserrat', sans-serif;
}

.faqSection .faqTitle {
    font-size: 22px;
    color: black;
    margin-bottom: 15px;
    font-family: 'Montserrat', sans-serif;
}

.faqSection ul {
    list-style-type: none;
    padding-left: 0;
}

.faqSection li {
    margin-bottom: 15px;
    padding: 15px;
    background-color: #fff;
    border-radius: 5px;
    border: 1px solid #ddd;
}

.faqSection li strong {
    display: block;
    font-size: 18px;
    margin-bottom: 5px;
}

.contactSection {
    flex: 1;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    border: 1px solid #ddd;
}

.contactSection .contactTitle {
    font-size: 22px;
    color: #333;
    margin-bottom: 15px;
    font-family: 'Montserrat', sans-serif;
}

.contactSection form div {
    margin-bottom: 15px;
    font-family: 'Montserrat', sans-serif;
}

.contactSection label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    color: #555;
}

.contactSection input,
.contactSection textarea {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

.contactSection button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: brown;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-family: 'Montserrat', sans-serif;
}

.contactSection button:hover {
    background-color: rgb(97, 56, 56);
}

.errorMessage {
    color: red;
    font-size: 14px;
    margin-top: 10px;
}

@media (max-width: 768px) {
    .sections-container {
        flex-direction: column;
        align-items: stretch;
    }
}



