@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');
.helpCenter {
    max-width: 1400px;
    width: 100%;
    margin: 20px auto;
    background-color: rgba(165, 42, 42, 0.349);
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    font-family: 'Montserrat', sans-serif;
    padding: 20px;
    margin-top: 6%;    margin-bottom: 5%;
    padding-top: 60px;  /* Aumentamos el espacio superior para bajar el contenido */
    display: flex;
    flex-direction: column;
    gap: 20px; /* Espacio entre los componentes */
}

.title {
    text-align: center;
    color: black;
    margin-bottom: 20px;
    font-size: 32px;
}

.searchSection input {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid black;
    border-radius: 5px;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

.faqSection, .contactSection {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.faqSection .faqTitle, .contactSection .contactTitle {
    font-size: 22px;
    color: black;
    font-family: 'Montserrat', sans-serif;
}

.faqSection ul {
    list-style-type: none;
    padding-left: 0;
}

.faqSection li {
    margin-bottom: 15px;
    padding: 15px;
    background-color: #fff;
    border-radius: 5px;
    border: 1px solid #ddd;
}

.faqSection li strong {
    display: block;
    font-size: 18px;
    margin-bottom: 5px;
}

.contactSection form div {
    margin-bottom: 15px;
}

.contactSection label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    color: #555;
}

.contactSection input,
.contactSection textarea {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

.contactSection button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: brown;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.contactSection button:hover {
    background-color: rgb(97, 56, 56);
}

.errorMessage {
    color: red;
    font-size: 14px;
    margin-top: 10px;
}

/* Media Queries */
@media (max-width: 768px) {
    .title {
        font-size: 24px; /* Tamaño más pequeño para el título en pantallas pequeñas */
    }

    .searchSection input {
        font-size: 14px; /* Reducir el tamaño de la fuente en dispositivos móviles */
    }

    .faqSection, .contactSection {
        gap: 10px;
    }

    .faqSection li {
        padding: 10px;
    }
}
