.container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    box-sizing: border-box; 
}

.mainContent {
    flex: 1;
    padding: 20px;
    box-sizing: border-box; 
}


@media (max-width: 768px) {
    .mainContent {
        padding: 15px; 
    }
}

@media (max-width: 480px) {
    .mainContent {
        padding: 10px; 
    }
}
