/* Sidebar.module.css */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

.sidebar {
    position: absolute;
    bottom:0;
    left: 0;
    width: 10%;  /* Ancho del sidebar */
    height: 100%; /* Altura completa */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    background: linear-gradient(180deg, brown, #fcafa7);
    color: white;  /* Color del texto */
    padding-top: 20px; /* Espaciado superior */
    padding-left: 20px; /* Espaciado izquierdo */
    overflow-x: auto;
    overflow-y: auto;
    
}
.sidebar ul {
    justify-items: left;
    position: fixed;
    top:30%;
    overflow: hidden;
    list-style-type: none;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}


.sidebar li {
    overflow: hidden;
    margin: 20px 0;
}

.sidebar a {
    color: white; /* Color de texto de los enlaces */
    text-decoration: none; /* Eliminar subrayado */
    font-size: 18px;
    font-family: 'Montserrat', sans-serif;
    overflow: hidden;
}

.sidebar a:hover {

    font-size: larger;
    font-weight: bolder;
}
